<div class="account">
  <h1>hello <%= current_user.first_name %> <%= current_user.last_name %>,</h1>
  <h4>welcome to your tv show journal account</h4>
  <br />
  <br />

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>

    <div data-controller="account">
      <div class="field">
        <%= f.label :email, 'email' %><br />
        <%= f.email_field :email, autocomplete: "email", class: 'long-input account-info-input',
                          'data-account-target': 'input', 'data-action':'click@window->account#reveal_input' %>
      </div>

      <div class="field margin-top">
        <%= f.label :first_name, 'first name' %><br />
        <%= f.text_field :first_name, autocomplete: "first-name", class: 'long-input account-info-input',
                         'data-account-target': 'input', 'data-action':'click@window->account#reveal_input' %>
      </div>

      <div class="field margin-top">
        <%= f.label :last_name, 'last name' %><br />
        <%= f.text_field :last_name, autocomplete: "last-name", class: 'long-input account-info-input',
                         'data-account-target': 'input', 'data-action':'click@window->account#reveal_input' %>
      </div>
    </div>

    <div class="actions margin-top">
      <%= f.submit "update info", class: 'btn btn-outline-light submit-btn align-center long-input' %>
    </div>
  <% end %>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>

    <br />
    <br />
    <h4>change password</h4>

    <div class="field">
      <%= f.label :password, 'new password' %><br />
      <%= f.password_field :password, autocomplete: "new-password", class: 'long-input' %>
    </div>

    <div class="field margin-top">
      <%= f.label :password_confirmation, 'confirmation new password' %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'long-input' %>
    </div>

    <div class="field margin-top">
      <%= f.label :current_password, 'current password' %><br />
      <%= f.password_field :current_password, class: 'long-input' %>
    </div>

    <div class="actions margin-top">
      <%= f.submit "change password", class: 'btn btn-outline-light submit-btn align-center long-input' %>
    </div>
  <% end %>

  <br />
  <br />

  <p><%= button_to "cancel account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete,
                   class: 'btn btn-outline-light submit-btn align-center long-input red-bg'%></p>
</div>
